/projects/vs2019/.vs
/projects/vs2019/.vs
projects/vs2019/.vs/projects/FileContentIndex/5b0308ba-fd74-4f6c-b745-be57fc2d5daf.vsidx
projects/vs2019/.vs/projects/FileContentIndex/76b50523-35ab-4143-9e09-3f4fc43323d2.vsidx
projects/vs2019/.vs/projects/v17/Browse.VC.db
projects/vs2019/.vs/projects/v17/Solution.VC.db
/projects/vs2019/.vs
